#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

# Security Hardening
export DEB_BUILD_MAINT_OPTIONS = hardening=-pie,+all

override_dh_auto_install:
	sed -i s%https://cdn.mathjax.org/mathjax/latest/MathJax.js%file:///usr/share/javascript/mathjax/MathJax.js% build/docs/old/html/*.html
	dh_auto_install --builddirectory=build

%:
	dh $@ --builddirectory=build
